<div id="<%= dom_id order %>">
  <div class="d-flex justify-content-around align-items-center">
    <div>
      <p >Tavolo: <%= order.table.number %></p>
    </div>
    <div>
      <p >Portate:</p>
</div>
    <div>
    <% if order.dishes.any? %>
    <%= order.dishes.map(&:name).join(', ') %>
  <% else %>
    Nessuna portata.
  <% end %>
  </div>
  <div>
  <p >Note: <% if order.note.present? %>
    <%= order.note %>
  <% else %>
    Nessuna nota.
  <% end %> </p>

    </div>
  </div>
</div>


