<div id="<%= dom_id order %>">
  <p>
    <strong>Table:</strong>
    <%= order.table.number %>
  </p>

  <p>
    <strong>Dish:</strong>
    <% if order.dishes.any? %>
    <%= order.dishes.map(&:name).join(', ') %>
  <% else %>
    Nessuna portata.
  <% end %>
  </p>

  <p>
    <strong>Note:</strong>
    <% if order.note.present? %>
    <%= order.note %>
  <% else %>
    Nessuna nota.
  <% end %>
  </p>

</div>
