<div id="<%= dom_id table %>" class="card mb-3">
  <div class="card-header text-center">
    <h5 class="card-title mb-0 text-success">Tavolo: <%= table.number %></h5>
  </div>
  <div class="card-body d-flex flex-column">
  <div class="d-flex justify-content-around align-items-center">
    <div>
      <p class="fw-bold">Disponibile:</p>
    </div>
    <div>
      <p class="badge"><%= table.available ? 'Si' : 'No' %></p>
    </div>
    </div>

    <% if controller_name == 'tables' && action_name == 'index' %>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <%= link_to "<i class='fas fa-info-circle'></i>".html_safe, table, class: "btn btn-danger" %>
      </div>
    <% end %>
    
  </div>
</div>
