<div id="<%= dom_id table %>">
<h5 class="card-title">Numero: <%= table.number %></h5>
  <div class="d-flex justify-content-around align-items-center">
    <div>
      <p class="card-text">Disponibile:</p>
    </div>
    <div>
      <p class="badge"><%= table.available %></p>
    </div>
  </div>
</div>
