<div id="<%= dom_id dish %>">
  <h5 class="card-title"><%= dish.name %></h5>
  <div class="d-flex justify-content-around align-items-center">
    <div>
      <p class="card-text">Ingredienti:</p>
    </div>
    <div>
      <% if dish.ingredients.any? %>
    <%= dish.ingredients.map(&:name).join(', ') %>
  <% else %>
    Nessun ingrediente.
  <% end %>
    </div>
    <div>
    <p class="card-text">Note:</p>
    </div>
    <div>
    <% if dish.note.present? %>
    <%= dish.note %>
    <% else %>
    Nessuna nota.
    <% end %>
    </div>
  </div>
</div>
